/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "SignPainter";
  src: url("/assets/fonts/signpainter_housescript.woff") format("woff");
}

@font-face {
  font-family: "AmericanTypewriter";
  src: url("/assets/fonts/american_typewriter.woff") format("woff");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-infix {
  border: none;
}

.mat-radio-label {
  white-space: normal !important;
}
