div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

table {
  margin-top: 2rem;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
}

td, th {
  padding: 10px !important;
}

button {
  color: white;
}

h3 {
  padding-top: 1.5rem;
}

.delete_button {
  margin-left: 0.5rem;
  background-color: red;
  color: white;
}

.hidden {
  display: none;
}
