<h3>Completed Crawl History</h3>
<div>
  <button (click)="refreshData()" mat-raised-button color="accent">Refresh</button>
  <button (click)="hideTable()" mat-raised-button class="hide_button">Hide</button>
  <button (click)="deleteData()" mat-raised-button class="delete_button">Clear History</button>
  <table mat-table [dataSource]="contents" [class.hidden]="!show" class="mat-elevation-z3">
    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef>Site</th>
      <td mat-cell *matCellDef="let data"> {{ data.site }} </td>
    </ng-container>
    <ng-container matColumnDef="keyword">
      <th mat-header-cell *matHeaderCellDef>Keyword</th>
      <td mat-cell *matCellDef="let data"> {{ data.keyword }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
