h1 {
  text-align: center;
}

svg {
  background-color: #efefef;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.node {
  stroke: #222;
  stroke-width: 1.5px;
}

.link {
  stroke: #222;
  stroke-width: 1.5px;
}

.tooltip {
  position: absolute;
  background-color: transparent;
  color: black;
  width: 80px;
}

#crawlerContainer {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
