mat-accordion {
  display: block;
}

div, h3, button {
  display: inline-block;
}

button {
  margin-left: 2rem;
  background-color: #673ab7;
  color: white;
  margin-left: 2rem;
}

h3 {
  padding-top: 1.25rem;
}
