main {
  width: 100%;
  margin: auto;
}

.toolbar {
  justify-content: center;
  background-color: #2B2B2B;
  text-align: center;
  font-family: AmericanTypewriter;
  font-size: 13px;
  color: white;
}

.cool_header {
  font-family: SignPainter;
  text-align: left;
  font-size: 2.7rem;
  margin-bottom: 0;
}

.mat_card_border {
  padding: 2rem;
  color: black;
  border: 3px solid #fed550;
  /* border: 3px solid #178bfb; */
}

.hide_button {
  margin-left: 0.5rem;
  background-color: #efefef;
  color: black;
}
