#svgContainer2 {
  position: absolute;
  left: 0px;
}

svg {
  background-color: transparent;
  width: 35%;
  margin-top: -3.5rem;
  margin-left: -1rem;
  transform: rotate(40deg);
}

path {
  fill: #2b2b2b;
}

img {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  margin-right: 0.5rem;
}
