<mat-card class="mat_card_border">
  <h2 class="cool_header">Start here</h2>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <div class="form_row">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="url"
          ngModel
          required
          placeholder="Starting URL, eg. www.google.com"
          #url="ngModel"/>
        <mat-error *ngIf="url.invalid">Please enter a URL.</mat-error>
      </mat-form-field>
    </div>
    <div class="form_row">
      <mat-radio-group
        matRadio
        type="text"
        name="algorithm"
        ngModel
        required
        #algorithm="ngModel">Select an algorithm
        <mat-radio-button
          value="bfs"
          on-change="bfsStatusTrue()"
          on-change="checkDepth(depth)">Breadth First Search (1 degree of separation at a time)</mat-radio-button>
        <mat-radio-button
          value="dfs"
          on-change="bfsStatusFalse()"
          on-change="checkDepth(depth)">Depth First Search (1 branch at a time)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form_row">
      <mat-form-field class="small_space">
        <mat-label>Depth</mat-label>
        <input
          matInput
          type="number"
          name="depth"
          ngModel
          required
          placeholder="e.g. 2"
          #depth="ngModel"
          on-change="checkDepth(depth)"/>
          <mat-hint *ngIf="bfsStatus && algorithm.touched" [class.red]="!depthOk && depth.touched">Enter a depth from 1 - 4</mat-hint>
          <mat-hint *ngIf="!bfsStatus && algorithm.touched" [class.red]="!depthOk && depth.touched">Enter a depth from 1 - 100</mat-hint>
      </mat-form-field>
      <mat-form-field class="med_space">
        <mat-label>Stop at keyword (optional)</mat-label>
        <input
          matInput
          type="text"
          name="keyword"
          ngModel
          placeholder="e.g. cat"
          #keyword="ngModel"/>
      </mat-form-field>
      <button
        class="form_submit"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="postForm.invalid || !depthOk">Crawl</button>
    </div>
  </form>
</mat-card>
