<h1>Web Crawler</h1>
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <div class="form_row">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="url"
          ngModel
          required
          placeholder="Starting URL, eg. www.google.com"
          #url="ngModel"/>
        <mat-error *ngIf="url.invalid">Please enter a URL.</mat-error>
      </mat-form-field>
    </div>
    <div class="form_row">
      <mat-radio-group
        matRadio
        type="text"
        name="algorithm"
        ngModel
        required
        placeholder="bfs"
        #algorithm="ngModel">Select an algorithm
        <mat-radio-button
          value="bfs">Breadth First Search (1 degree of separation at a time)</mat-radio-button>
        <mat-radio-button
          value="dfs">Depth First Search (follow each link all the way down)</mat-radio-button>
          <mat-error *ngIf="algorithm.invalid">Please select an algorithm.</mat-error>
      </mat-radio-group>
      <mat-form-field class="width_25">
        <input
          matInput
          type="number"
          name="depth"
          ngModel
          required
          placeholder="Page depth, eg. 2"
          #depth="ngModel"/>
        <mat-error *ngIf="depth.invalid">Please enter a page depth.</mat-error>
      </mat-form-field>
    </div>
    <div class="form_submit">
      <button mat-raised-button color="accent" type="submit" >Crawl</button>
    </div>
  </form>
</mat-card>
