mat-form-field, textarea {
  width: 95%;
}

mat-radio-group {
  display: inline-grid;
}

mat-radio-button {
  padding: 10px;
}

.form_row {
  display: block;
  flex-direction: row;
}

.form_row > mat-form-field, mat-radio-group {
  padding: 0.5rem 1.5rem 0.5rem 0;
}

.small_space {
  width: 30%;
}

.med_space {
  width: 40%;
}

.form_submit {
  margin-left: 5%;
}

#mat-radio-3 {
  padding-top: 0;
  padding-bottom: 1rem;
}
