h2 {
  padding: 20px;
  margin-bottom: 0rem;
  text-align: center;
  font-size: 2rem;
}

mat-form-field, textarea {
  width: 95%;
}

mat-card {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #ffd740
}

mat-radio-group {
  display: inline-grid;
}

mat-radio-button {
  padding: 10px;
}

.form_row {
  display: block;
  flex-direction: row;
}

.form_row > mat-form-field, mat-radio-group {
  padding: 10px;
}

.form_submit {
  margin-left: 15rem;
}

.small_space {
  width: 20%;
}

.med_space {
  width: 30%;
}
