<mat-card>
  <h2>Web Crawler</h2>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <div class="form_row">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="url"
          ngModel
          required
          placeholder="Starting URL, eg. www.google.com"
          #url="ngModel"/>
        <mat-error *ngIf="url.invalid">Please enter a URL.</mat-error>
      </mat-form-field>
    </div>
    <div class="form_row">
      <mat-radio-group
        matRadio
        type="text"
        name="algorithm"
        ngModel
        required
        placeholder="bfs"
        #algorithm="ngModel">Select an algorithm
        <mat-radio-button
          value="bfs">Breadth First Search (1 degree of separation at a time)</mat-radio-button>
        <mat-radio-button
          value="dfs">Depth First Search (follow each link all the way down)</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form_row">
      <mat-form-field class="small_space">
        <mat-label>Page Depth</mat-label>
        <input
          matInput
          type="number"
          name="depth"
          ngModel
          required
          placeholder="e.g. 2"
          #depth="ngModel"/>
        <mat-error *ngIf="depth.invalid">Please enter a page depth.</mat-error>
      </mat-form-field>
      <mat-form-field class="med_space">
        <mat-label>Stop at keyword (optional)</mat-label>
        <input
          matInput
          type="text"
          name="keyword"
          ngModel
          placeholder="e.g. cat"
          #keyword="ngModel"/>
      </mat-form-field>
      <button class="form_submit" mat-raised-button color="accent" type="submit">Crawl</button>
    </div>
  </form>
</mat-card>
