h1, h2, h3 {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 40px;
}

mat-form-field, textarea {
  width: 100%;
}

mat-card {
  margin-left: auto;
  margin-right: auto;
}

mat-radio-group {
  display: inline-grid;
}

mat-radio-button {
  padding: 10px;
}

.form_row {
  display: flex;
  flex-direction: row;
}

.form_row > mat-form-field, mat-radio-group {
  padding: 20px;
}

.width_25 {
  width: 25%;
}
.form_submit {
  text-align: right;
}
