<div id="card_container">
  <div id="intro_text">
    <h2>Hello and welcome!</h2>
    <p>This web crawler was created by OSU's team Gudja for
    the Capstone Project Class CS 467. In 7 weeks we have successfully
    built a web crawler that allows you to traverse the internet using two different
    algorithms: breadth first search (BFS) and depth first search (DFS). </p>
    <p>BFS examines all links at each level from the starting url before expanding the search,
    sort of like an expanding bubble. DFS searches one branch, or unbroken sequence of links,
    at a time starting with the first link, until it reaches your desired depth.
    You can optionally tell the crawler to end the search if it encounters a keyword on the page.
    You'll find that BFS is much slower than DFS and both give you different
    information about the connectivity of the internet.</p>
    <p>At this stage of developement Google Chrome is required to sucessfully render the graphics.
    Download <a target="_blank" href="https://www.google.com/chrome/?brand=CHBD&gclid=EAIaIQobChMI7uHNnd-C4QIVyFcNCh1W7gXNEAAYASAAEgLCjvD_BwE&gclsrc=aw.ds">here</a> if needed.</p>
  </div>
  <app-post-create></app-post-create>
  <app-activity></app-activity>
</div>
<app-crawler></app-crawler>
