#card_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

app-post-create, app-activity {
  display: inline-block;
  width: 48.5%;
  vertical-align: top;
}

app-post-create {
  margin-right: 3%;
}
