mat-card {
  padding: 2rem;
  padding-bottom: 1rem;
}

.site_title {
  display: block;
  width: 100%;
  color: black;
  font-size: 45px;
  display: none;
}

h1 {
  display: block;
  width: 100%;
}

app-post-create, mat-card {
  display: inline-block;
}

app-post-display, app-cookie {
  display: block;
}

app-post-create {
  width: 50%;
}

mat-card {
  vertical-align: top;
  margin-left: 3%;
  width: 40.8%;
}

app-crawler {
  display: block;
}
